<%= turbo_frame_tag "modal" do %>
  <div class="modal modal-open">
    <div class="modal-box">
      <h3 class="font-bold text-lg"><%= t('.title') %></h3>
      
      <% if flash[:notice] %>
        <div class="alert alert-success mb-4">
          <span><%= flash[:notice] %></span>
        </div>
      <% end %>
      
      <div class="py-4">
        <%= form_with(url: list_list_restaurants_path(list_id: @list.id), method: :get, 
            class: "form-control",
            data: { controller: "restaurant-search", turbo_frame: "results" }) do |f| %>
          <%= f.hidden_field :query, value: params[:query] %>
          <div class="input-group">
            <%= f.search_field :query, 
                value: params[:query],
                class: "input input-bordered w-full",
                placeholder: t('.search_placeholder'),
                data: { action: "input->restaurant-search#submit" } %>
            <button class="btn btn-square">
              <%= heroicon "magnifying-glass" %>
            </button>
          </div>
        <% end %>

        <%= turbo_frame_tag "results" do %>
          <div class="mt-4 space-y-4">
            <% @restaurants.each do |restaurant| %>
              <div class="flex items-center justify-between p-4 bg-base-200 rounded-lg">
                <div>
                  <h4 class="font-bold"><%= restaurant.name %></h4>
                  <p class="text-sm text-base-content/70">
                    <%= restaurant.cuisine_type&.name %>
                  </p>
                </div>
                
                <% if @list.restaurants.include?(restaurant) %>
                  <button class="btn btn-disabled btn-sm" disabled>
                    <%= t('.added') %>
                  </button>
                <% else %>
                  <%= button_to list_list_restaurants_path(list_id: @list.id), 
                      params: { restaurant_id: restaurant.id },
                      method: :post,
                      class: "btn btn-primary btn-sm" do %>
                    <%= t('.add') %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="mt-4">
            <%== pagy_nav(@pagy) if @pagy %>
          </div>
        <% end %>
      </div>

      <div class="modal-action">
        <%= link_to t('common.close'), list_path(id: @list.id), class: "btn" %>
        <%= link_to t('.finished'), 
            list_path(id: @list.id), 
            class: "btn btn-primary",
            data: { turbo_frame: "_top" } %>
      </div>
    </div>
  </div>
<% end %>
