<div id="pending-lists-section">
  <% if pending_lists.any? %>
    <div class="mb-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% pending_lists.each do |list| %>
          <div class="relative group" id="<%= dom_id(list.shares.find_by(recipient: current_user)) %>">
            <%= render(ListCardComponent.new(list: list, current_user: current_user)) %>
            <div class="absolute top-2 right-2 flex gap-2 z-30">
              <div class="tooltip" data-tip="<%= t('shared_lists_component.accept') %>">
                <%= button_to accept_share_list_path(id: list.id),
                    method: :post,
                    class: "btn btn-success btn-sm btn-circle text-white",
                    data: { turbo: true } do %>
                  ✓
                <% end %>
              </div>
              
              <div class="tooltip" data-tip="<%= t('shared_lists_component.decline') %>">
                <%= button_to decline_share_list_path(id: list.id),
                    method: :delete,
                    class: "btn btn-error btn-sm btn-circle text-white",
                    data: { turbo: true } do %>
                  ｘ
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
