<%= turbo_frame_tag "modal" do %>
  <div class="modal modal-open">
    <div class="modal-box">
      <h3 class="font-bold text-lg mb-4"><%= t('.title') %></h3>
      
      <%= form_tag export_list_path(id: @list.id), method: :post, class: "space-y-4" do %>
        <div class="form-control">
          <label class="label">
            <span class="label-text"><%= t('.email_label') %></span>
          </label>
          <%= email_field_tag :email, nil, 
              class: "input input-bordered w-full",
              placeholder: t('.email_placeholder'),
              required: true %>
        </div>

        <div class="modal-action">
          <%= link_to t('common.cancel'), '#', 
              class: "btn btn-ghost",
              data: { action: "click->modal#close" } %>
          <%= submit_tag t('.send'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="modal-backdrop">
      <%= link_to '', '#',
          class: "cursor-default",
          data: { action: "click->modal#close" } %>
    </div>
  </div>
<% end %>
