<div class="container mx-auto px-4 py-8">
  <div id="flash">
    <%= render 'shared/flash' %>
  </div>
  <div id="download"></div>

  <%= render(ListComponent.new(list: @list, current_user: current_user)) do |list| %>
    <% list.header do %>
      <h1>TEST HEADER</h1>
    <% end %>

    <% list.stats do %>
      <%= render(ListStatsComponent.new(statistics: @statistics, list: @list)) %>
    <% end %>
  <% end %>

  <div class="divider"></div>

  <div class="restaurants-section">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-4">
      <h2 class="text-xl font-bold"><%= t('.restaurants') %></h2>
      
      <div class="flex flex-col md:flex-row items-stretch md:items-center gap-4">
        <%= render(SortFormComponent.new(
          url: list_path(id: @list.id),
          fields: @sort_fields,
          current_order: @order_by,
          current_direction: @order_direction
        )) %>

        <div class="flex gap-2">
          <%= link_to new_list_list_restaurant_path(list_id: @list.id), 
              class: "btn btn-primary btn-sm",
              data: { turbo_frame: "modal" } do %>
            <%= heroicon "plus", options: { class: "w-4 h-4 mr-2" } %>
            <%= t('.add_restaurant') %>
          <% end %>
          <%= link_to edit_list_list_restaurants_path(list_id: @list.id),
              class: "btn btn-outline btn-sm" do %>
            <%= heroicon "pencil-square", options: { class: "w-4 h-4 mr-2" } %>
            <%= t('.manage_restaurants') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-start">
      <% @restaurants.each do |restaurant| %>
        <div class="w-full">
          <%= render(RestaurantCardComponent.new(restaurant: restaurant)) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal" %>

<div class="dropdown dropdown-end">
  <label tabindex="0" class="btn btn-outline btn-sm">
    <%= heroicon "arrow-down-tray", options: { class: "w-4 h-4 mr-2" } %>
    <%= t('.export') %>
  </label>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
    <li>
      <%= link_to export_list_path(id: @list.id, format: :text),
          data: { 
            turbo: false,
            controller: "flash",
            action: "click->flash#showMessage",
            message: t('.markdown_exported')
          } do %>
        <%= heroicon "document", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('.export_markdown') %>
      <% end %>
    </li>
    <li>
      <%= link_to export_list_path(id: @list.id), data: { turbo_frame: "modal" } do %>
        <%= heroicon "envelope", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('.export_email') %>
      <% end %>
    </li>
  </ul>
</div>
