<%= render 'shared/header', title: t('profiles.show.title') %>
<div class="bg-surface-50 rounded-lg shadow-xl">
  <div class="p-6 flex flex-col items-center">
    <div class="flex flex-col items-start md:items-center mb-6">
      <%= render(AvatarComponent.new(user: @user, organization: @organization, size: :xl)) %>
      <div class="mt-4">
        <h3 class="text-xl font-semibold text-surface-900"><%= @organization.display_name %></h3>
        <% if @organization.username.present? %>
          <p class="text-sm text-surface-600">@<%= @organization.username %></p>
        <% end %>
      </div>
    </div>

    <% if @organization.about.present? %>
      <div class="mb-6">
        <h4 class="font-semibold mb-2 text-surface-900"><%= t('profiles.about') %></h4>
        <p class="text-surface-700"><%= @organization.about %></p>
      </div>
    <% end %>

    <div class="bg-mint-500 my-8 p-8 font-bold text-white text-xl">Hello</div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <% if @user.full_name.present? %>
        <div>
          <h4 class="font-semibold mb-2 text-surface-900"><%= t('profiles.full_name') %></h4>
          <p class="text-surface-700"><%= @user.full_name %></p>
        </div>
      <% end %>
    </div>

    <!-- Theme and Language switchers -->
    <div class="mt-8 flex w-full justify-between items-start">
      <div>
        <h4 class="font-semibold mb-2 text-surface-900"><%= t('profiles.theme') %></h4>
        <button data-controller="theme-toggle" 
                data-action="click->theme-toggle#toggle" 
                data-theme-toggle-current-theme-value="<%= @user.theme %>" 
                data-theme-toggle-theme-path-value="<%= update_theme_profile_path %>" 
                class="btn btn-outline theme-button text-surface-900">
        </button>
      </div>

      <div>
        <h4 class="font-semibold mb-2 text-surface-900"><%= t('profiles.language') %></h4>
        <%= render "profiles/language/display", user: @user %>
      </div>

      <div>
        <h4 class="font-semibold mb-2 text-surface-900"><%= t('edit') %></h4>
        <%= link_to t('edit'), edit_profile_path, class: "btn btn-outline" %>
      </div>
    </div>
  </div>
</div>


