<div class="pt-18 flex-1 flex flex-col">
  <div class="flex-1">
    <% menu_items.each do |item| %>
      <%= link_to item[:path], 
          class: "flex flex-col items-start justify-center px-12 py-4 transition-colors",
          data: { turbo_frame: "_top" } do %>
        <div class="text-xl font-medium text-surface-900"><%= item[:title] %></div>
        <% if item[:notification].present? %>
          <div class="mt-2">
            <%= item[:notification] %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="pb-12 self-center flex gap-2 items-center">
    <%= link_to profile_path, class: "flex gap-2 items-center", data: { turbo_frame: "_top" } do %>
      <%= heroicon "adjustments-horizontal", options: { class: "w-6 h-6" } %><%= t("nav.profile_settings") %>
    <% end %>
  </div>
</div>