<%= render 'shared/header', title: t("restaurants.notes.edit.title") %>

<%= turbo_frame_tag dom_id(@restaurant, :notes) do %>
  <div class="p-4">
    <%= form_with(model: @restaurant, 
                  url: restaurant_notes_path(restaurant_id: @restaurant.id), 
                  data: { turbo_frame: hotwire_native_app? ? "_top" : nil},
                  method: :patch) do |f| %>
      <div class="space-y-4">

        <%= f.text_area :notes, 
            class: "block w-full rounded-md border-0 py-1.5 text-surface-900 shadow-sm ring-1 ring-inset ring-surface-300 placeholder:text-surface-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6",
            rows: 4 %>
        
        <div class="flex justify-end gap-3">
            <%= link_to t("cancel"), 
                restaurant_path(id: @restaurant.id),
                data: { turbo_frame: hotwire_native_app? ? "_top" : nil },
                class: "rounded-md bg-white px-3 py-2 text-sm font-semibold text-surface-900 shadow-sm ring-1 ring-inset ring-surface-300 hover:bg-surface-50" %>
          
          <%= f.submit t("save"),
          data: { turbo_frame: hotwire_native_app? ? "_top" : nil },
              class: "#{hotwire_native_app? ? 'w-full' : ''} rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600" %>
        </div>
    </div>
    <% end %>
  </div>
<% end %>