<div class="space-y-2">
  <% if contacts.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <% contacts.each do |contact| %>
        <%= button_to visit_contacts_path(visit_id: params[:visit_id], contact_id: contact.id, locale: current_locale),
            class: "w-full text-left p-4 rounded-lg hover:bg-surface-100 transition-colors duration-200 group" do %>
          <div class="flex items-center gap-4">
            <%= render(AvatarComponent.new(
              image: contact.avatar,
              text: contact.name,
              size: :md
            )) %>
            
            <div class="flex-grow">
              <p class="font-medium text-surface-900 group-hover:text-primary-600">
                <%= contact.name %>
              </p>
              <% if contact.visits_count > 0 %>
                <p class="text-sm text-surface-500">
                  <%= t("contacts.visits.other", count: contact.visits_count) %>
                </p>
              <% end %>
            </div>

            <%= heroicon "plus-circle", 
                options: { class: "w-5 h-5 text-surface-400 group-hover:text-primary-600" } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-surface-600 text-center py-4"><%= t("contacts.search.no_results") %></p>
  <% end %>
</div>