<%= render 'shared/header', title: t("images.upload.title") %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <%= form_with url: visit_images_path(visit_id: @visit.id, locale: current_locale), 
      method: :post, 
      multipart: true, 
      data: { 
        controller: "image-upload",
        turbo_frame: "_top"
      } do |form| %>
    
    <div class="bg-surface-100/50 rounded-lg p-6 backdrop-blur-sm mb-6">
      <div class="flex flex-col items-center justify-center w-full">
        <label for="images" class="flex flex-col items-center justify-center w-full h-64 border-2 border-surface-300 border-dashed rounded-lg cursor-pointer bg-surface-50 hover:bg-surface-100">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <%= heroicon "cloud-arrow-up", options: { class: "w-10 h-10 mb-3 text-surface-500" } %>
            <p class="mb-2 text-sm text-surface-600">
              <span class="font-semibold"><%= t("images.upload.drop_files") %></span>
            </p>
            <p class="text-xs text-surface-500"><%= t("images.upload.file_types") %></p>
          </div>
          <%= form.file_field :images, 
              multiple: true, 
              class: "hidden", 
              accept: "image/png,image/jpeg,image/webp,image.heic", 
              direct_upload: true,
              data: { action: "change->image-upload#preview" } %>
        </label>
      </div>
      
      <div data-image-upload-target="preview" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6"></div>
    </div>

    <div class="flex justify-end mt-6">
      <button type="submit" 
              data-image-upload-target="uploadButton" 
              disabled 
              class="ml-4 px-4 py-2 bg-primary-600 text-white rounded-md opacity-50 cursor-not-allowed transition-colors">
        <%= t("images.upload.upload") %>
      </button>
    </div>
  <% end %>
  
  <%# Keep cancel button outside form %>
  <div class="flex justify-end -mt-10 mr-38">
    <%= link_to t("cancel"), 
        visit_path(id: @visit.id, locale: current_locale), 
        data: { turbo_frame: "_top" },
        class: "px-4 py-2 bg-surface-200 text-surface-700 rounded-md hover:bg-surface-300 transition-colors" %>
  </div>
</div>