<div class="image-upload" 
     data-controller="image-preview image-deletion"
     data-image-deletion-imageable-type-value="<%= imageable.class.name %>"
     data-image-deletion-imageable-id-value="<%= imageable.id %>">
  <div data-image-preview-target="inputContainer">
    <%= form.file_field :images, 
                        multiple: true, 
                        accept: 'image/*',
                        data: { 
                          image_preview_target: "input",
                          action: "change->image-preview#handleFiles"
                        },
                        class: 'hidden' %>
    
    <button type="button" 
            class="btn btn-secondary"
            data-action="click->image-preview#triggerFileInput">
      Choose Files
    </button>
  </div>
  
  <div data-image-preview-target="preview" class="image-preview mt-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"></div>
  
  <% if imageable.images.any? %>
    <div class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <% imageable.images.each do |image| %>
        <% if image.file.attached? && image.file.blob.present? %>
          <div class="image-thumbnail relative aspect-w-3 aspect-h-2">
            <%= image_tag(url_for(image.file), 
                        class: "w-full h-full object-contain rounded-lg shadow-md") %>
            
            <%= button_to "#",
                        method: :delete,
                        data: { 
                          action: "image-deletion#deleteImage",
                          image_id: image.id
                        },
                        class: "btn btn-error btn-circle btn-sm absolute -top-2 -right-2" do %>
              ×
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
