<!-- iOS -->
<div class="not-hotwire-native:hidden flex items-center">
  <%= link_to edit_language_profile_path(locale: nil), class: "flex gap-2 ml-2 text-primary-600" do %>
  <span class="text-sm font-medium text-surface-700"><%= current_locale_name %></span>
    <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
    </svg>
  <% end %>
</div>

<!-- WEBAPP -->
<div class="hotwire-native:hidden relative" data-controller="language-switcher">
  <button type="button" 
          class="flex items-center gap-x-1 text-sm font-medium text-surface-600 hover:text-surface-900"
          data-action="click->language-switcher#toggleDropdown"
          aria-expanded="false"
          data-language-switcher-target="button">
    <span><%= current_locale_name %></span>
    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
    </svg>
  </button>

  <div class="absolute right-0 z-10 mt-2.5 min-w-[140px] origin-top-right rounded-md bg-surface-50 shadow-lg ring-1 ring-surface-900/5 focus:outline-none hidden"
       role="menu" 
       aria-orientation="vertical" 
       data-language-switcher-target="menu">
    <div class="py-1">
      <% available_locales.each do |locale| %>
        <% if helpers.user_signed_in? %>
          <% is_selected = locale[:code].to_s == @current_locale.to_s %>
          <%= form_tag change_locale_profile_path(locale: nil), method: :post, class: "block" do %>
            <%= hidden_field_tag :locale, locale[:code] %>
            <button type="submit"
                  class="<%= is_selected ? 'bg-surface-100' : '' %> text-surface-700 block px-4 py-2 text-sm w-full text-left hover:bg-surface-100"
                  role="menuitem">
              <%= locale[:name] %>
            </button>
          <% end %>
        <% else %>
          <a href="#" 
             data-locale="<%= locale[:code] %>"
             data-action="click->language-switcher#switchLocale"
             class="<%= 'bg-surface-100' if locale[:code] == @current_locale %> text-surface-700 block px-4 py-2 text-sm hover:bg-surface-100"
             role="menuitem">
            <%= locale[:name] %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
