<div class="card bg-base-100 shadow-xl" id="<%= dom_id(list) %>">
  <div class="card-body">
    <%= render(ListHeaderComponent.new(list: list, current_user: current_user)) %>
    
    <% if list.description.present? %>
      <p class="text-base-content/70">
        <%= list.description %>
      </p>
    <% end %>

    <%= render(ListActionsComponent.new(list: list, current_user: current_user)) %>
    <%= render(ListStatsComponent.new(statistics: statistics, list: list)) %>
  </div>
</div>
