<%= form_tag @url, method: :get, class: 'w-full md:w-1/2', id: 'search-form' do %>
  <div class="flex flex-col md:flex-row items-end gap-2">
    <div class="form-control w-full">
      <label for="search-input" class="label">
        <span class="label-text"><%= t('search') %>:</span>
      </label>
      <div class="flex gap-2">
        <input type="text" 
               id="search-input" 
               name="search" 
               value="<%= @search_value %>" 
               class="input input-bordered w-full" 
               placeholder="<%= @placeholder %>">
        
        <% @additional_fields.each do |name, value| %>
          <%= hidden_field_tag name, value %>
        <% end %>
        
        <%= submit_tag t("search"), class: 'btn btn-primary whitespace-nowrap' %>
        <%= button_tag t("reset"), type: 'button', 
            class: 'btn btn-ghost whitespace-nowrap', 
            onclick: "window.location='#{@url}'" %>
      </div>
    </div>
  </div>
<% end %>
