<div class="flex flex-col gap-4">
  <div class="flex items-center gap-2">
    <span class="text-sm text-base-content/70">
      <%= t('components.shared_list_actions_component.shared_by', owner: owner.profile.display_name) %>
    </span>
    
    <% if any_restaurants_to_import? %>
      <%= button_to import_all_list_list_restaurants_path(list_id: list.id), 
          class: "btn btn-primary btn-sm",
          method: :post,
          data: { turbo_confirm: t('components.shared_list_actions_component.confirm_import_all') } do %>
        <%= helpers.heroicon "plus", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('components.shared_list_actions_component.import_all') %>
      <% end %>
    <% end %>
  </div>

  <% if can_edit %>
    <div class="flex gap-2">
      <%= link_to new_list_list_restaurant_path(list_id: list.id), 
          class: "btn btn-outline btn-sm",
          data: { turbo_frame: "modal" } do %>
        <%= helpers.heroicon "plus", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('components.shared_list_actions_component.add_restaurant') %>
      <% end %>
      
      <%= link_to edit_list_list_restaurants_path(list_id: list.id),
          class: "btn btn-outline btn-sm" do %>
        <%= helpers.heroicon "pencil-square", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('components.shared_list_actions_component.manage_restaurants') %>
      <% end %>
    </div>
  <% end %>
</div>
