<%= form_tag @url, method: :get, class: 'w-full md:w-auto', id: 'sort-form' do %>
  <%= hidden_field_tag :search, params[:search] %>
  
  <% @additional_fields.each do |name, value| %>
    <%= hidden_field_tag name, value %>
  <% end %>
  
  <div class="form-control w-full">
    <label for="sort-select" class="label">
      <span class="label-text"><%= t('common.sort.sort_by') %></span>
    </label>
    <div class="flex gap-2 items-center">
      <select id="sort-select" name="order_by" class="select select-bordered w-full md:w-64" onchange="this.form.submit()">
        <% @fields.each do |value, label| %>
          <option value="<%= value %>" <%= 'selected' if @current_order == value %>><%= label %></option>
        <% end %>
      </select>
      <div class="flex gap-1">
        <%= button_tag type: 'submit', name: 'order_direction', value: 'asc', 
            class: "btn btn-ghost btn-sm #{'btn-active' if @current_direction != 'desc'}" do %>
          <%= heroicon "arrow-down", options: { class: "w-5 h-5" } %>
        <% end %>
        <%= button_tag type: 'submit', name: 'order_direction', value: 'desc', 
            class: "btn btn-ghost btn-sm #{'btn-active' if @current_direction == 'desc'}" do %>
          <%= heroicon "arrow-up", options: { class: "w-5 h-5" } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
