<%= link_to visit_path(id: visit.id, locale: current_locale),
data: {turbo_frame: "_top"}, 
    class: "block rounded-lg bg-surface-50" do %>
  <div class="p-6 space-y-4">
    <%# Header with restaurant name and date %>
    <div class="flex items-center justify-between">
      <h3 class="text-lg font-medium text-surface-900">
        <%= visit.restaurant.name %>
      </h3>
      <span class="text-xs text-surface-700">
        <%= formatted_date %>
      </span>
    </div>
    <div>
      <div class="text-md font-medium text-surface-600">
        <%= visit.title %>
      </div>
      <p class="text-sm"><%= visit.notes %></p>
    </div>
    <div class="flex justify-between">
      <div class="mt-2">
          <%= render(RatingsComponent.new(
                rating: visit.rating,
                readonly: true,
                size: :sm,
                dom_id: dom_id(visit, :rating),
                restaurant: visit
              )) %>
        </div>
      <div class="flex -space-x-2 overflow-hidden">
        <% visit.contacts.each do |contact| %>
          <%= render(AvatarComponent.new(
            image: contact.avatar,
            text: contact.name,
            size: :sm
          )) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>