<div class="max-w-5xl mx-auto mt-8 bg-surface-50 rounded-lg shadow-xl">
  <%= render 'shared/header', title: t('visits.new.title') %>
  
  <div class="p-6">
    <%= form_with(model: @visit, 
                  url: visits_path,
                  local: true, 
                  class: "space-y-8",
                  data: { controller: "currency-validator" }) do |form| %>
      <%= render 'form_errors', object: @visit %>

      <div class="grid grid-cols-1 gap-8">
        <%= render 'form_fields', form: form, visit: @visit %>
      </div>

      <div class="mt-8 space-y-2">
        <h2 class="text-xl font-semibold mb-4 text-surface-900"><%= t("add_images") %></h2>
        <%= render(ImageUploadComponent.new(form, @visit, self)) %>
      </div>

      <div class="flex justify-between items-center mt-8">
        <%= form.submit t("visits.create_visit"), class: 'rounded-md bg-primary-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500' %>
        <%= link_to t('visits.back_to_visits'), visits_path(locale: nil), class: 'inline-flex items-center px-4 py-2 rounded-md text-sm font-medium text-surface-700 bg-surface-100 hover:bg-surface-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-surface-500' %>
      </div>
    <% end %>
  </div>
</div>