<div class="space-y-4">
  <div class="flex items-center justify-between">
    <h3 class="text-xl font-semibold text-surface-900"><%= t("contacts.title") %></h3>
    <%= link_to edit_visit_contacts_path(visit_id: visit.id, locale: nil),
        class: "inline-flex items-center px-3 py-2 text-sm text-primary-600 hover:text-primary-700",
        data: { turbo_frame: helpers.hotwire_native_app? ? "_top" : frame_id } do %>
      <%= heroicon "plus-circle", options: { class: "w-5 h-5 mr-2" } %>
      <%= t("contacts.add") %>
    <% end %>
  </div>

  <%= turbo_frame_tag frame_id do %>
    <% if visit.contacts.any? %>
      <div class="grid grid-cols-2 md:grid-cols-6 lg:grid_cols_8 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <% visit.contacts.each do |contact| %>
          <%= link_to contact_path(id: contact.id), data: { turbo_frame: "_top"}, class: "group flex flex-col items-center p-4 hover:bg-surface-100 rounded-lg transition-colors duration-200" do %>
            <div class="relative z-10">
              <%= render(AvatarComponent.new(
                image: contact.avatar,
                text: contact.name,
                size: :lg
              )) %>
            </div>
            <span class="mt-2 text-center font-medium text-surface-900 group-hover:text-primary-600"><%= contact.name %></span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="text-surface-600"><%= t('contacts.no_contacts_for_visit') %></p>
    <% end %>
  <% end %>
</div>