<div class="space-y-4">
  <!-- 
  <h3 class="text-lg font-semibold text-surface-900"><%= t("notes.title") %></h3>
  -->
  
  <%= turbo_frame_tag frame_id do %>
    <% if @visit.notes.present? %>
      <%= link_to edit_visit_notes_path(visit_id: @visit.id, locale: nil),
          class: "block bg-surface-100/50 p-4 rounded-lg text-surface-700 hover:bg-surface-100/75 transition-colors group",
          data: { turbo_frame: helpers.hotwire_native_app? ? "_top" : frame_id } do %>
        <div class="prose prose-surface max-w-none">
          <%= simple_format(@visit.notes) %>
        </div>
      <% end %>
    <% else %>
      <%= link_to edit_visit_notes_path(visit_id: @visit.id, locale: nil),
          class: "w-full py-2 px-3 text-surface-500 border border-dashed border-surface-300 rounded-md hover:text-surface-700 hover:border-surface-400 transition-colors text-left inline-block",
          data: { turbo_frame: helpers.hotwire_native_app? ? "_top" : frame_id } do %>
        <%= heroicon "plus", options: { class: "inline w-4 h-4 mr-2" } %>
        <%= t('notes.add') %>
      <% end %>
    <% end %>
  <% end %>
</div>