<%= link_to restaurant_path(id: restaurant.id, locale: nil), class: "block col-span-1 divide-y divide-surface-200 rounded-lg bg-surface-50 shadow-sm hover:shadow-md transition-all duration-200 #{ 'opacity-50' unless restaurant.operational? }", data: { turbo_frame: "_top" } do %>
  <div class="card bg-surface-50 py-4 px-2 gap-2 min-h-[220px]">
    <%# Header with name and visits %>
    <div class="header flex items-center justify-between">
      <h2 class="text-xl font-medium text-surface-900 #{ 'line-through' unless restaurant.operational? }"><%= restaurant.name %></h2>
      <% if visit_count.positive? %>
        <span class="badge rounded-full bg-primary-100 text-xs font-medium text-primary-700">
          <%= visit_count %>
        </span>
      <% end %>
    </div>
    
    <%= render "restaurants/cuisine_selections/display", restaurant: restaurant, readonly: true %>

    <%# Main content container with left and right sides %>
    <div class="flex">
      <%# Left side: cuisine, price, rating, tags %>
      <div class="text-surface-900 flex-1 pr-6 flex flex-col justify-between">
        <div class="space-y-2">
          <%= render "restaurants/price_levels/display", restaurant: restaurant, readonly: true %>
          <%= render "restaurants/ratings/display", restaurant: restaurant, readonly: true %>
        </div>
        <% if restaurant.tags.any? %>
          <div class="mt-5 flex flex-wrap gap-1">
            <% restaurant.tags.each do |tag| %>
              <div class="badge bg-surface-100 text-surface-700 text-xs font-medium">
                <%= tag.name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <%# Right side: address %>
      <div class="text-sm text-surface-700 text-right max-w-full break-words">
        <div>
          <span><%= "#{restaurant.street_number} #{restaurant.street}" %></span>
        </div>
        <div class="">
          <span><%= [restaurant.postal_code, restaurant.city].compact.join(' ') %></span>
        </div>
        <% if restaurant.state.present? || restaurant.country.present? %>
          <div class="">
            <span><%= [restaurant.state, restaurant.country].compact.reject(&:empty?).join(', ') %></span>
          </div>
        <% end %>
        <%# Contact information %>
        <div class="mt-4 text-sm text-surface-600">
          <% if restaurant.phone_number.present? %>
            <div class="mt-1 flex items-center gap-2 text-primary-500 hover:text-primary-700 hover:underline">
              <%= heroicon "phone", options: { class: "w-5 h-5 text-primary-500" } %>
              <span><%= restaurant.phone_number %></span>
            </div>
          <% end %>
          
          <% if restaurant.url.present? %>
            <div class="mt-1 flex items-center gap-2 text-primary-500 hover:text-primary-700 hover:underline">
              <%= heroicon "globe-alt", options: { class: "w-5 h-5 text-primary-500" } %>
              <%= restaurant.url %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
