<%= turbo_frame_tag dom_id(restaurant, :price_level) do %>
  <% if hotwire_native_app? %>
    <%= link_to edit_restaurant_price_level_path(restaurant_id: restaurant.id, locale: nil),
          class: "block",
          data: { turbo_frame: "_top" } do %>
      <div class="flex items-center" data-testid="price-level-component">
        <div class="flex">
          <% 4.times do |i| %>
            <span class="<%= i < restaurant.price_level.to_i ? 'text-primary-500' : 'text-surface-300' %> text-xl">
              $
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to edit_restaurant_price_level_path(restaurant_id: restaurant.id, locale: nil),
          class: "block group",
          data: { turbo_frame: dom_id(restaurant, :price_level),
          turbo_prefetch: false, turbo_action: "advance" } do %>
      <div class="flex items-center" data-testid="price-level-component">
        <div class="flex">
          <% 4.times do |i| %>
            <span class="<%= i < restaurant.price_level.to_i ? 'text-primary-500' : 'text-surface-300' %> text-xl">
              $
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
