<div class="container mx-auto p-4">
  <div class="flex w-full justify-between items-center mb-6">
    <h1 class="text-4xl mb-4"><%= t("contacts.index.title") %></h1>
    <%= link_to new_contact_path, class: "btn btn-primary" do %>
      <%= heroicon "plus", options: { class: "w-5 h-5 mr-2" } %>
      <%= t("add_contact") %>
    <% end %>
  </div>

  <div class="mb-4 flex flex-col md:flex-row justify-between items-end gap-4">
    <%= render(SortFormComponent.new(
      url: contacts_path,
      fields: [
        ['created_at', t('contacts.sort_by.created_at')],
        ['name', t('contacts.sort_by.name')],
        ['email', t('contacts.sort_by.email')],
        ['visits', t('contacts.sort_by.visits')]
      ],
      current_order: params[:order_by],
      current_direction: params[:order_direction]
    )) %>

    <%= render(SearchFormComponent.new(
      url: contacts_path,
      placeholder: t('contacts.index.search_placeholder'),
      search_value: params[:search]
    )) %>
  </div>

  <% if @contacts.empty? %>
    <% if params[:search].present? %>
      <p class="text-center text-gray-500 my-8"><%= t("contacts.index.no_contacts_found") %></p>
    <% else %>
      <p class="text-center text-gray-500 my-8"><%= t("contacts.index.no_contacts") %></p>
    <% end %>
  <% else %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @contacts.each do |contact| %>
        <%= link_to contact_path(id: contact.id), class: "card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow duration-200" do %>
          <div class="card-body">
            <div class="flex items-center justify-between w-full">
              <div class="flex items-center gap-4">
                <%= render(AvatarComponent.new(
                  image: contact.avatar,
                  text: contact.name,
                  size: :lg
                  )) %>
                
                <div>
                  <h2 class="card-title"><%= contact.name %></h2>
                  <p class="text-sm text-base-content/70"><%= contact.email %></p>
                </div>
              </div>

              <% if contact.visits_count.positive? %>
                <div class="badge badge-secondary"><%= contact.visits_count %></div>
              <% end %>
            </div>

            <div class="mt-4 space-y-2">
              <% if contact.city.present? || contact.country.present? %>
                <div class="flex items-center gap-2">
                  <%= heroicon "map-pin", options: { class: "w-5 h-5 text-base-content/70" } %>
                  <span><%= [contact.city, contact.country].compact.join(", ") %></span>
                </div>
              <% end %>

              <% if contact.phone.present? %>
                <div class="flex items-center gap-2">
                  <%= heroicon "phone", options: { class: "w-5 h-5 text-base-content/70" } %>
                  <span><%= contact.phone %></span>
                </div>
              <% end %>

              <% if contact.notes.present? %>
                <div class="flex items-start gap-2 mt-2">
                  <%= heroicon "document-text", options: { class: "w-5 h-5 text-base-content/70" } %>
                  <p class="text-sm"><%= truncate(contact.notes, length: 100) %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="flex flex-col items-center space-y-4 mt-8">
      <%== pagy_daisy_ui_nav(@pagy) %>
      <div class="text-sm text-gray-600 bg-base-200 p-2 rounded-lg">
        <%== pagy_info(@pagy) %>
      </div>
    </div>
  <% end %>
</div>
