<%# Use a safer approach to generate the ID that works with test doubles %>
<div class="card bg-base-100 shadow-xl" id="list_<%= list.respond_to?(:id) ? list.id : 'test' %>">
  <div class="card-body">
    <%= render(Lists::HeaderComponent.new(list: list, current_user: current_user)) %>
    
    <% if list.description.present? %>
      <p class="text-base-content/70">
        <%= list.description %>
      </p>
    <% end %>

    <%= render(Lists::ActionsComponent.new(list: list, current_user: current_user)) %>
    <%= render(Lists::StatsComponent.new(statistics: statistics, list: list)) %>
  </div>
</div>
