<div class="flex flex-col gap-4">
  <div class="flex items-center gap-2">
    <span class="text-sm text-base-content/70">
      <%= t('components.shared_list_actions_component.shared_by', owner: owner.profile.display_name) %>
    </span>
    
    <% if any_restaurants_to_import? %>
      <%= button_to import_all_list_list_restaurants_path(list_id: list.id, locale: nil), 
          class: "btn btn-primary btn-sm",
          method: :post,
          data: { turbo_confirm: t('components.shared_list_actions_component.confirm_import_all') } do %>
        <%= heroicon "plus", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('components.shared_list_actions_component.import_all') %>
      <% end %>
    <% end %>
  </div>

  <div class="flex gap-2">
    <% if permissions[:can_edit] %>
      <%= link_to new_list_list_restaurant_path(list_id: list.id, locale: nil), 
          class: "btn btn-outline btn-sm",
          data: { turbo_frame: "modal" } do %>
        <%= heroicon "plus", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('components.shared_list_actions_component.add_restaurant') %>
      <% end %>
      
      <%= link_to edit_list_list_restaurants_path(list_id: list.id, locale: nil),
          class: "btn btn-outline btn-sm" do %>
        <%= heroicon "pencil-square", options: { class: "w-4 h-4 mr-2" } %>
        <%= t('components.shared_list_actions_component.manage_restaurants') %>
      <% end %>
    <% else %>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-outline btn-sm">
          <%= heroicon "ellipsis-horizontal", options: { class: "w-4 h-4 mr-2" } %>
          <%= t('components.shared_list_actions_component.actions') %>
        </label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <%= button_to remove_share_list_path(id: list.id, locale: nil),
                method: :delete,
                class: "text-error",
                data: { turbo_confirm: t('components.shared_list_actions_component.confirm_remove') } do %>
              <%= heroicon "trash", options: { class: "w-4 h-4 mr-2" } %>
              <%= t('components.shared_list_actions_component.remove_from_my_lists') %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
