<% logger.debug "\n#{'='*80}" %>
<% logger.debug "Rendering turbo_stream response" %>
<% logger.debug "Page: #{params[:page]}" %>
<% logger.debug "Restaurants count: #{@restaurants.size}" %>
<% logger.debug "Pagy next page: #{@pagy.next}" %>
<% logger.debug "#{'='*80}" %>

<%= turbo_stream.append "restaurants-list" do %>
  <% @restaurants.each do |restaurant| %>
    <div class="grid gap-6" id="restaurant_<%= restaurant.id %>">
      <%= render Restaurants::CardComponent.new(restaurant: restaurant) %>
    </div>
  <% end %>
<% end %>

<% if @pagy.next.present? %>
  <%= turbo_stream.replace "pagination" do %>
    <% next_params = {
          field: @current_field,
          direction: @current_direction,
          tag: params[:tag],
          search: params[:search],
          latitude: params[:latitude] || params[:lat],
          longitude: params[:longitude] || params[:lng],
          per_page: params[:per_page],
          page: @pagy.next,
          format: :turbo_stream
        }.compact %>
    <div id="pagination"
         data-controller="infinite-scroll"
         data-infinite-scroll-next-url="<%= restaurants_path(next_params) %>"
         data-infinite-scroll-target="pagination">
      <div class="flex justify-center py-8">
        <div class="animate-pulse text-gray-500">
          Loading more restaurants...
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.remove "pagination" %>
<% end %>