<%= turbo_frame_tag "modal" do %>
  <dialog class="modal" data-controller="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg"><%= t("visits.rating.action_title") %></h3>
      <p class="py-4"><%= t("common.ratings.rate_cta") %></p>
      <%= form_with model: @visit,
                    url: visit_rating_path(visit_id: @visit.id),
                    method: :patch do |f| %>
        <div class="flex justify-center space-x-2">
          <% 5.times do |i| %>
            <%= f.button type: "submit",
                        name: "visit[rating]",
                        value: i + 1,
                        class: "text-3xl focus:outline-none" do %>
              <span class="<%= i < @visit.rating.to_i ? 'text-yellow-400' : 'text-surface-300' %>">
                <%= i < @visit.rating.to_i ? '★' : '☆' %>
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn"><%= t("common.close") %></button>
        </form>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button><%= t("common.close") %></button>
    </form>
  </dialog>
<% end %>