<!DOCTYPE html>
<html lang="en" class="h-full" <%= "data-hotwire-native-app" if hotwire_native_app? %>>
  <head>
    <title><%= content_for(:title) || "BentoBook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_tag nonce: true do %>
      // Set up global variables
      window.googleMapsApiKey = "<%= Rails.application.credentials.google_maps_api_key %>";
    <% end %>
    <script>
      (function() {
        const theme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>
    <%= yield :head %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body data-controller="theme-loader" data-theme="<%= user_signed_in? ? current_user.theme : 'light' %>" class="bg-surface-100 text-surface-700 min-h-[calc(100vh-8rem)]">
    <div class="min-h-full">
      <% unless hotwire_native_app? %>
        <%= render 'application/navbar' if user_signed_in? %>
      <% end %>

    <div class="pb-8 border-gray-200 bg-surface-100">
    <main>
      <div class="mx-auto max-w-7xl px-2 md:px-4 py-4 md:py-8 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </main>
  </div>
</div>

    <!-- Modals container -->
    <%= yield :modals if content_for?(:modals) %>
    
  </body>
</html>